<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.PersonaConnectionString"
            connectionString="Data Source=PersonaTarea1.mssql.somee.com;Initial Catalog=PersonaTarea1;Persist Security Info=False;User ID=CarloVargas13_SQLLogin_1;Password=yh19cmr1ro;Packet Size=4096;Workstation ID=PersonaTarea1.mssql.somee.com"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
